@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Karla:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: #291f1e;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F6F4F3;
  min-height: 66vh;
  border-radius: 2rem;
  margin-top: 15vh;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.start-btn {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  padding: 1rem 2rem;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #477998;
  color: #F6F4F3;
  border-radius: 2rem;
  filter: drop-shadow(0 0 0.75rem #291F1E);
  border: black;
  cursor: pointer;
}